includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/wpsyntex/polylang-phpstan/extension.neon
parameters:
	level: max
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/polylang-translated-table-example.php
	bootstrapFiles:
		- vendor/wpsyntex/polylang-stubs/polylang-stubs.php
